@using MVC_NLayerProject.UI.Models.VMs.UserVMs;


@model UserVM

<div class="container col-lg-10">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Kullanıcı Adı</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Mail</th>
                <th>Telefon Numarası</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Model.Id</th>
                <th>@Model.UserName</th>
                <th>@Model.FirstName</th>
                <th>@Model.LastName</th>
                <th>@Model.Email</th>
                <th>@Model.PhoneNumber</th>
                <th><a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Güncelle</a></th>
            </tr>
        </tbody>
    </table>
</div>